// custom-review-table
.custom-review-table {
    thead {
        tr {
            td {
                color: #555;
                font-size: 13px;
                font-weight: 600;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid #dfdfdf !important;
            }
        }
    }

    tbody {
        tr {
            td {
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #dfdfdf;

                .link-text {
                    cursor: pointer;
                    font-size: 14px;
                }

                p {
                    color: #555;
                    font-size: 13px;
                    margin-bottom: 0;
                    line-height: 1.6rem;
                }

                .approved {
                    color: #28c76f;
                    font-size: 11px;
                    padding: 6px 12px;
                    border-radius: 25px;
                    background: #28c76f21;
                    text-transform: uppercase;
                }

                .pending {
                    color: #ea5455;
                    font-size: 11px;
                    padding: 6px 12px;
                    border-radius: 25px;
                    background: #ea545421;
                    text-transform: uppercase;
                }
            }
        }
    }
}
