.offcanvas-body {
    padding: 0;

    .cart-items-container {
        .cart-item {
            // quantity inc desc container
            .quantity-inc-desc-container {
                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        p {
                            color: #555;
                            font-size: 14px;
                            margin-bottom: 0;
                            margin-top: 1px;
                            text-align: center;
                        }

                        .btn {
                            padding: 0px 2px;

                            .icon {
                                color: rgb(182, 182, 182);
                                transition: 0.3s all;

                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            }
        }

        p {
            font-size: 13px;
        }
    }

    .action-btn {
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $primary;
    }
}

.offcanvas-header {
    .action-btn {
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
        padding-bottom: 10px;
        background: $primary;
    }
}
