// Navbar fixed in footer
.navbar-fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #e6e5e5;
    transition: 0.25s !important;

    // Button container
    .button-container {
        position: relative;

        .badge-btn {
            position: relative;
            transition: 0.4s all;
            color: rgb(148, 148, 148);

            span {
                font-size: 13px;
            }

            .badge {
                color: #fff;
                position: absolute;
                top: 2px;
                right: 2px;
                padding: 3px 6px;
                font-size: 11px;
                background: $primary;
                border-radius: 50%;
            }

            &:hover {
                color: #000;
            }
        }

        .logo-container {
            position: absolute;
            top: -30px;
            left: 45%;
            z-index: 99;
            width: 50px;
            height: 50px;
            overflow: hidden;
            background: #fff;
            border-radius: 50%;
            border: 1px solid #dfdfdf;

            img {
                width: 45px;
                height: 45px;
            }
        }
    }
}
