.account-container {
    .profile-info-container {
        width: 100%;

        @media (min-width: 992px) {
            width: 320px !important;
        }
    }

    .data-container {
        .card {
            border-radius: 6px;
        }
    }
}
