$bgcolor: #f9f9f9;
$primary: #e84545;
$secondary: #e8454523;
$danger: #e84545;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

@import "~bootstrap/scss/bootstrap";
@import "./globals.scss";
@import "./components/navbar-top.scss";
@import "./components/navbar-bottom.scss";
@import "./components/search.scss";
@import "./components/carousel.scss";
@import "./components/feature.scss";
@import "./components/product.scss";
@import "./components/categories.scss";
@import "./components/footer.scss";
@import "./components/goTop.scss";
@import "./components/drawer.scss";
@import "./components/product-images.scss";
@import "./components/product-content.scss";
@import "./components/product-tab.scss";
@import "./components/empty.scss";
@import "./components/account/profile.scss";
@import "./components/account/review-order.scss";
@import "./category.scss";
@import "./auth.scss";
@import "./favorite-list.scss";
@import "./account.scss";
@import "./basic-info.scss";
